__pycache__/
*.py[cod]
*.so
*.pyd
.DS_Store
.ipynb_checkpoints/

.venv/
venv/
env/

VTON360-main/pretrained_models/
VTON360-main/src/multiview_consist_edit/checkpoints/

Wonder3D/Wonder3D-main/ckpts/
Wonder3D/Wonder3D-main/sam_pt/
Wonder3D/Wonder3D-main/outputs/
Wonder3D/Wonder3D-main/cloth_inputs/
test_data/outputs/
VTON360-main/src/data

**/.cache/
**/wandb/
**/runs/
**/logs/
**/output/
**/outputs/

*.ckpt
*.pth
*.pt
*.safetensors
*.bin
*.h5
*.hdf5
*.msgpack
*.onnx
*.engine
